/* variables for main color */

:root {
    --maincolor: #11559e;
    --mainborder: 6px;
    --btnwidth:360px;
    --secondcolor :#262626;
}

*{
   font-family:  "Open Sans", sans-serif;
   box-sizing :border-box;

} 

/* header styling */
header {
background-color: var(--maincolor);
display: flex;
border-radius:var(--mainborder)
}


header a {
    text-decoration: none;
    color: white;
    margin-left: 40px;
}

.container {
    /* width: 1170px;
    margin-left: auto;
    margin-right: auto; */
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
}

/* container comtains the for,s */
.container .form-style {
    display:grid;
    flex-direction: column;
}

/* Genrate iD  */
.form-style h1 {
    justify-self: center;
}

.form-style input {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: var(--mainborder);
    padding: 10px;
    border: 0.5px black solid;;
    width: 200px;
    width: var( --btnwidth);
    font-size: 16px;
}


.form-style label {
    font-weight: bold;
    font-size: 20px;
}

.form-style input :focus {
    outline: none;
}


/* the button box contaain male and female */
 .btn-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px; 
 }
 
/* male and female start */
 .btn-box input {
    width: 10px;
    margin: 0;
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
 }



 form .btn-box label {
    background-color: var(--maincolor);
    padding: 10px;
    width: 150px;
    color: white;
    text-align: center;
    border-radius: var(--mainborder);
 }
/* male and female end */
 .btn-box input:checked +   .btn{
    background-color:  #082c64;
    
 }

/* submit button styling */
 [type="submit"]{
    border: none !important;
    background-color: var(--secondcolor);
    color: white;
    font-size: 1.2rem;
   
 }

/* to center qr code img */
 .qrimgcont {
    justify-self: center;
    margin-top: 10px;
 }

 .qrimgcont img {
    transition: 0.2s;
    opacity: 0.5;
 }


 /* horizntal line */
 .hr {
border: none;
background-color: var(--maincolor);

height: 758px;
width: 1px;
 }




 /* respnsiving */


/* Small */

@media (max-width:767px){
    .container  {
        flex-direction: column;
    }


   .hr{
        height: 80px;
        transform: rotate(90deg);
    }
}

/* Medium */
@media (min-width: 768px) {
    .container {
  
    }

}

/* and to full */

@media (min-width: 992px) {
.container {

}
}

